.app-container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(darken($purple, 56%), darken($blue, 45%));
  position: absolute;
}

.sound-panel {
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-135%);
  bottom: -450px;
}