.keyboard {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-55%);
  background-image: $linear-gradient;
  width: max-content;
  box-shadow: 20px 15px 75px 5px rgba(0,0,0,1);
  border-bottom: $keyboard-border-bottom;
}

.noteboard {
  margin: -38px auto 0px auto;
  width: max-content;

  .noteboard-naturals {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(62px, auto);
    width: 100%;
  }
  
  .noteboard-flats {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(62px, auto);
    width: 100%;
  }
  
  .noteboard-sharps {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(62px, auto);
    width: 100%;
  }
}

.octaveboard {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: max-content;
}