.kebo-logo {
  position: absolute;
  font-size: 48px;
  padding: 250px 50px 80px 260px;
  left: -235px;
  top: -300px;

  p {
    position: relative;
    font-weight: 100;
    color: #ada5ff;
    padding: 0px 10px;
    text-shadow: 0px 0px 17px #8779ff;
    font-size: 40px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}
