.octave-container {
  box-sizing: border-box;
  height: 62px;
  width: 80px;
  background-color: rgba(6,10,22,0.95);
  text-align: center;
  border: 0px solid rgba(0,0,0,0);

  &.pressed {
    background-color: rgba(6,10,22,0.91);
    border-top: $octave-border-top;
    position: relative;
    top: 20px;
  }
}

.octave-displayName {
  color: rgba(255,185,50,0.3);
  font-size: 16px;
  margin-top: 20px;
  position: relative;
  top: 20px;
  &.pressed {
    color: rgba(255,185,50,1);
    position: relative;
    top: 0px;
    transition-duration: 0.3s;
  }
}
