.octave-container {
  box-sizing: border-box;
  height: 62px;
  width: 100px;
  background-color: rgba(6,10,22,0.98);
  text-align: center;
  border: 0px solid rgba(0,0,0,0);
  transition-duration: 0.4s;
}

.octave-container-pressed {
  box-sizing: border-box;
  height: 62px;
  width: 100px;
  background-color: rgba(6,10,22,0.92);
  text-align: center;
  border-left: 2px solid rgba(255,185,50,0.2);
  transition-duration: 0.4s;
}

.octave-displayName {
  color: rgba(255,185,50,0.13);
  font-size: 16px;
  margin-top: 20px;
}

.octave-displayName-pressed {
  color: rgba(255,185,50,1);
  font-size: 16px;
  margin-top: 20px;
}
