$dark-bg-inner: rgba(25,25,40,1);
$dark-bg-outer: rgba(8,8,15,1);
$linear-gradient: linear-gradient(0deg, rgb(24, 110, 240), rgb(124, 43, 255), rgb(255, 52, 137));
$green:rgb(164, 255, 61);
$blue: rgb(32, 194, 186);
$pink: rgb(224, 47, 150);
$purple: rgb(86, 67, 255);
$keyboard-border-bottom: 2px solid $blue;
$orange: rgba(255,185,50,0.9);
$octave-border-top: 2px solid $orange;

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import 'app';
@import 'keyboard';
@import 'analyser';
@import 'detune-slider';
@import 'gain-slider';
@import 'distortion-slider';
@import 'reverb-slider';
@import 'logo';
@import 'note';
@import 'octave';

div[tabindex="-1"]:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
}
